body{
    background:linear-gradient(lightblue,blue);
}
.d1{
    border:none;
    width:300px;margin: auto;
    padding-top: 20px;
    border-radius: 5px;
    background-color: whitesmoke;
    padding-bottom: 20px;
    box-shadow:5px 5px 5px ;
}
.inp{
    width:250px;
    height:35px;
}
.inpbtn{
    background-color: rgb(58, 84, 235);
    width: 150px;
    height: 40px;border: none;
     border-radius: 5px;
     font-weight: bold;
     color: white;
}
#head{
    font-family: Verdana, sans-serif;
    color: blue;
}
.p1{
    font-size:small;padding-left: 130px;
}
.inpbtn:hover{
    background-color:rgb(85, 85, 241);
    color: black;
}
